apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: {{ .Values.appName }}
  name: {{ .Values.appName }}
spec:
  host: {{ .Values.ingress.host }}
  port:
    targetPort: {{ .Values.service.port }}
  tls:
    termination: edge
  to:
    kind: Service
    name: {{ .Values.appName }}-service
    weight: 100
  wildcardPolicy: None
